@define-color grad_stop_1 #000000;
@define-color grad_stop_2 #000000;

@define-color panel-text #000000;
@define-color panel-text-shadow #000000;

@define-color widget-bg #000000;
@define-color widget-bg-hover #000000;
@define-color widget-bg-click #000000;

@define-color text-icon-col #000000;

@define-color window-bg #000000;

label {
    text-shadow: none;
    color: @text-icon-col;
}

label:backdrop {
    opacity: 0.6;
}

#main_frame > border {
    border-image: linear-gradient(
        -225deg, 
        @grad_stop_1, @grad_stop_2,
        @grad_stop_1, @grad_stop_2,
        @grad_stop_1, @grad_stop_2
        ) 1;
    border-width: 8px;
}

#main_frame > label, #fancy_text {
    font-size: large;
    font-weight: bold;
    color: @panel-text;
    text-shadow: @panel-text-shadow 0px 0px 3px,
    @panel-text-shadow 0px 0px 3px,
    @panel-text-shadow 0px 0px 3px,
    @panel-text-shadow 0px 0px 3px,
    @panel-text-shadow 0px 0px 3px;
}

#main_frame > label:backdrop {
    opacity: 0.6;
}

frame > border {
    border-image: linear-gradient(
        45deg, @grad_stop_1, @grad_stop_2
    ) 1;
    border-width: 4px;
}

button {
    background-image: none;
    background-color: @widget-bg;
    border-image: linear-gradient(
        45deg, @grad_stop_1, @grad_stop_2
    ) 1;
    border-width: 4px;
    border-radius: 0px;
    box-shadow: none;
    color: @text-icon-col;
}

button:hover {
    background-color: @widget-bg-hover;
}

button:active {
    background-color: @widget-bg-click;
}

button:backdrop {
    opacity: 0.6;
}

spinbutton.horizontal {
    border-image: linear-gradient(
        45deg, @widget-bg, @widget-bg
    ) 1;
    border-width: 4px;
    color: @text-icon-col;
}

spinbutton.horizontal:backdrop, spinbutton.horizontal:disabled {
    opacity: 0.6;
}

spinbutton.horizontal:focus {
    border-image: linear-gradient(
        45deg, @grad_stop_1, @grad_stop_2
    ) 1;
    border-width: 4px;
    box-shadow: none;
}

entry {
    background-color: @widget-bg;
    border-image: linear-gradient(
        45deg, @widget-bg, @widget-bg
    ) 1;
    border-width: 4px;
    box-shadow: none;
    color: @text-icon-col;
    text-shadow: none;
}

entry:focus {
    border-image: linear-gradient(
        45deg, @grad_stop_1, @grad_stop_2
    ) 1;
    border-width: 4px;
}

entry:backdrop {
    opacity: 0.6;
}

entry:disabled {
    background-color: @widget-bg;
}

#label_inactive {
    opacity: 0.6;
}

radiobutton > radio {
    outline: none;
    box-shadow: none;
    border: none;
}

radio {
    border-color: @widget-bg;
    border-image: none;
    background-image: none;
    background-color: @widget-bg;
    color: @widget-bg;
}

radio:backdrop {
    opacity: 0.6;
}

radio:checked {
    /* background-image: linear-gradient(
        45deg, #FF8AF3, #ff5d5a
    ); */
    background-image: linear-gradient(
        45deg, @grad_stop_2, @grad_stop_1
    );
}

radio:not(:checked):hover {
    background-image: none;
    background-color: @widget-bg-hover;
}

radio:not(:checked):active {
    background-image: none;
    background-color: @widget-bg-click;
}

scale > value {
    color: @text-icon-col;
}

scale > contents > trough {
    background-color: @widget-bg;
    border-color: @widget-bg;
}

scale > contents > trough > highlight {
    background-color: @widget-bg;
    background-image: linear-gradient(
        90deg, @grad_stop_1, @grad_stop_2
    );
    border: none
}

scale > contents > trough > slider {
    background-image: none;
    box-shadow: none;
    background-color: @widget-bg;
    border-image: linear-gradient(
        90deg, @grad_stop_1, @grad_stop_2
    ) 1;
    border-width: 4px;
    box-shadow: 10 0 20px @widget-bg;
}

scale:backdrop {
    opacity: 0.6;
}

scale > contents > trough > slider:hover {
    background-color: @widget-bg-hover;
}

scale > contents > trough > slider:active {
    background-color: @widget-bg-click;
}

/* combobox > box.linked > window.popup {
    background-color: @widget-bg;
    color: @text-icon-col;
} */

menuitem {
    background-color: @widget-bg;
    color: @text-icon-col;
}

menuitem:hover {
    background-color: @widget-bg-hover;
}

combobox > window > menu {
    background-color: @widget-bg;
}

separator {
    background-image: linear-gradient(
        90deg, @grad_stop_1, @grad_stop_2
    );
}

window {
    /* background-image:linear-gradient(
        45deg, #FFD4DB
    ); */
    background-color: @window-bg;
    /* background-color: #FFE5D6; */
}

* {
    outline: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
}