@define-color grad1 #00ff00;
@define-color grad2 #00ff00;

@define-color text-main #00ff00;
@define-color text-shadow #00ff00;

@define-color bg-widget #00ff00;
@define-color bg-widget-hov #00ff00;
@define-color bg-widget-click #00ff00;

@define-color text-icon-col #00ff00;

@define-color bg-col #00ff00;

label {
    text-shadow: none;
    color: @text-icon-col;
}

#main_frame > border {
    border-image: linear-gradient(
        -225deg, 
        @grad1, @grad2,
        @grad1, @grad2,
        @grad1, @grad2
        ) 1;
    border-width: 8px;
}

#main_frame > label, #fancy_text {
    font-size: large;
    font-weight: bold;
    color: @text-main;
    text-shadow: @text-shadow 0px 0px 3px,
    @text-shadow 0px 0px 3px,
    @text-shadow 0px 0px 3px,
    @text-shadow 0px 0px 3px,
    @text-shadow 0px 0px 3px;
}

#main_frame > label:backdrop {
    opacity: 0.5;
}

frame > border {
    border-image: linear-gradient(
        45deg, @grad1, @grad2
    ) 1;
    border-width: 4px;
}

button {
    background-image: none;
    background-color: @bg-widget;
    border-image: linear-gradient(
        45deg, @grad1, @grad2
    ) 1;
    border-width: 4px;
    border-radius: 0px;
    box-shadow: none;
    color: @text-icon-col;
}

button:hover {
    background-color: @bg-widget-hov;
}

button:active {
    background-color: @bg-widget-click;
}

spinbutton.horizontal {
    border-image: linear-gradient(
        45deg, @bg-widget, @bg-widget
    ) 1;
    border-width: 4px;
    color: @text-icon-col;
}

spinbutton.horizontal:backdrop, spinbutton.horizontal:disabled {
    opacity: 0.5;
}

spinbutton.horizontal:focus {
    border-image: linear-gradient(
        45deg, @grad1, @grad2
    ) 1;
    border-width: 4px;
    box-shadow: none;
}

entry {
    background-color: @bg-widget;
    border-image: linear-gradient(
        45deg, @bg-widget, @bg-widget
    ) 1;
    border-width: 4px;
    box-shadow: none;
    color: @text-icon-col;
    text-shadow: none;
}

entry:focus {
    border-image: linear-gradient(
        45deg, @grad1, @grad2
    ) 1;
    border-width: 4px;
}

entry:backdrop {
    opacity: 0.6;
}

entry:disabled {
    background-color: @bg-widget;
}

#label_inactive {
    opacity: 0.6;
}

radiobutton > radio {
    outline: none;
    box-shadow: none;
    border: none;
}

radio {
    border-color: @bg-widget;
    border-image: none;
    background-image: none;
    background-color: @bg-widget;
    color: @bg-widget;
}

radio:checked {
    /* background-image: linear-gradient(
        45deg, #FF8AF3, #ff5d5a
    ); */
    background-image: linear-gradient(
        45deg, @grad2, @grad1
    );
}

radio:not(:checked):hover {
    background-image: none;
    background-color: @bg-widget-hov;
}

radio:not(:checked):active {
    background-image: none;
    background-color: @bg-widget-click;
}

scale > value {
    color: @text-icon-col;
}

scale:backdrop > value {
    opacity: 0.6;
}

scale > contents > trough {
    background-color: @bg-widget;
    border-color: @bg-widget;
}

scale > contents > trough > highlight {
    background-color: @bg-widget;
    background-image: linear-gradient(
        90deg, @grad1, @grad2
    );
    border: none
}

scale > contents > trough > slider {
    background-image: none;
    box-shadow: none;
    background-color: @bg-widget;
    border-image: linear-gradient(
        90deg, @grad1, @grad2
    ) 1;
    border-width: 4px;
    box-shadow: 10 0 20px @bg-widget;
}

scale > contents > trough > slider:hover {
    background-color: @bg-widget-hov;
}

scale > contents > trough > slider:active {
    background-color: @bg-widget-click;
}

combobox > box.linked > button.combo {
    background-color: red;
}

window {
    /* background-image:linear-gradient(
        45deg, #FFD4DB
    ); */
    background-color: @bg-col;
    /* background-color: #FFE5D6; */
}

* {
    outline: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    color: @text-icon-col;
}